body, 
html {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   background: #ffff;
   overflow-x: hidden;
} 

h1 {
  font-size: 49px;
}

h2 {
  font: Bold 21px/25px Montserrat;
  color: #fff;
  background-color: #fa382f;
  padding: 0 4px;
}

h3 {
  font: Bold 21px/25px Montserrat;
  color: #fa382f;
  margin: 0px;
  text-align: center;
}

h4 {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  text-align: left;
}

p {
  font-size: 12px;
  line-height: 2;
  color: #000000;
}
header {
   /* font-family: 'Montserrat', sans-serif; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/andras-vas.jpg");
  background-repeat: no-repeat;
  /* To make the hero picture cover the screen */
  background-size: cover;
  background-position: center;
  /* The image change size on all screens */
}


/* /* .portfolio-name {
   display: flex;
   flex-direction: row;
   margin-bottom: -10px;
}  

p.portfolio {
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   color: #fff;
  
   display: flex;
   flex-direction: row;
   text-shadow: 2px 2px 2px grey;
   margin-left: 180px;
   padding-right: 15px;
   letter-spacing: 0, 52px;
   margin-top: 50px;
} */
 
 /*layout properties */
 /* p.name {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
   font-weight: bold;
   color: #fff;
   opacity: 1;
   width: 100%;
   /* text-shadow: 2px 2px 2px grey; 
   letter-spacing: 0, 52px;
   margin-top: 50px;
} */
 
/*---- pic petra ----*/

.hero-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.header-label {
  margin: 30 0px;
}

.header-label p {
  color: #fff;
  font: Bold 13px/15px Roboto;
}

.header-label h1 {
  color: #fff;
  font: Bold 40px/49px Montserrat;
}

.header-profile {
  width: 162px;
  height: 162px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.header-icons {
  display: flex;
  text-align: center;
}

.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.grey {
  background: #f4f4f4;
}

.summary-box p,
.tech-box p {
  font: 400 17px/29px Montserrat;
  width: 80%;
  text-align: center;
}

.hero-text {
  font: 700 17px/19px Montserrat;
}

.projects,
.other-projects,
.thought {
  width: 80%;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}

.projects img {
  filter: brightness(90%);
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  align-items: center;
}

.projects-info p {
  font-size: 16px;
}

.language {
  background-color: #fddfe7;
  display: inline;
  margin: 10px;
  margin-left: 0px;
  padding: 4px;
}

.language p {
  margin: 0;
  text-align: center;
}

.other-projects .projects-info {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.thought img {
  width: 100%;
  max-width: 450px;
  max-height: 500px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.thought-date {
  font: 400 17px/29px Roboto;
  color: #fa382f;
  padding-top: 10px;
  margin: 0;
}

.thought-headline p {
  font: 700 21px/32px Roboto;
  margin: 0;
}

.thought-teaser p {
  /* text-align: left; */
  font: 400 17px/32px Roboto;
}

.more-thoughts {
  width: 80%;
}

.more-thoughts span {
  font: 500 17px/29px Roboto;
  color: red;
  text-align: center;
  justify-content: center;

}

.more-thoughts p {
  font: 700 17px/29px Roboto;
  text-align: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-flow: wrap;
  width: 80%;
}

.list-header {
  font: 700 17px/29px Roboto;
  color: #fa382f;
  padding-top: 10px;
}

.skills-box ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 30%;
  flex-grow: 1;
  text-align: center;
}

.icons {
  display: flex;
  text-align: center;
  padding: 20px 0;
}

.iconCircle {
  width: 59px;
  height: 59px;
  border: 3px solid #fa382f;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 22px;
  height: 22px;
}

footer {
  top: 4875px;
  left: 36px;
  width: 378px;
  height: 270px;
  font-size: 15px;
  margin-right: 35px;
  background-color: blue;
  color: #ffffff;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact h2 {
  background-color: transparent;
}

.contact h3 {
  color: #fff;
}

.contact p {
  color: #fff;
}

/*******MEDIA QUERIES *********/

@media (min-width: 650px) {
  .header-icons,
  .header-profile {
    align-self: flex-end;
  }

  .header-profile {
    margin-bottom: -50px;
  }

  .box {
    padding: 60px 0;
  }

  .summary-box p {
    text-align: left;
  }

  .featured-projects,
  .my-thoughts {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects,
  .thought {
    width: 40%;
    flex-grow: 1;
    margin: 20px;
  }

  .skills ul {
    width: 20%;
  }
}
