body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
 }
 
 header {
    height: 508px;
    width: 375;
    /* The hero image */
    /* The "linear-gradient" gives a darker feeling to the her image*/
    /* Image / copied the relative path for the pic */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/andras-vas.jpg");
    background-repeat: no-repeat;
    /* To make the her picture cover the screen */
    background-size: cover;
    /*background-position: center;*/
    /* The image change size on all screens */
    position: relative;
    color: aliceblue;   
 }

 /* second update name */ 
 .portfolioName {
    display: flex;
    flex-direction: row;
    margin-bottom: -20px;
 }
 
 p.portfolio {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 0,52px;
    color: #ffffff;
    opacity: 1;
    text-shadow: 2px 2px 2px grey;
    display: flex;
    flex-direction: row;
 }
 
 /*layout properties */
 p.name {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0,52px;
    color: #ffffff;
    opacity: 1;
    width: 100%;
    position: relative;
    left: 19px;
    text-shadow: 2px 2px 2px grey;
 }
 
 /* frontend developer text */
 h1 {
    top: 196px;
    left: 78px;
    width: 71px;
    height: 49px;
    /* UI Properties */
    text-align: left;
    font: Bold 40px/49px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 20px;
 }
 
 /*project manager text */
 h3 {
    top: 296px;
    left: 41px;
    width: 219px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: Bold 24px/29px Montserrat;
    /*font: Bold 24px/29px Montserrat;*/
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    padding-top: 10px;
 }
 
/* pic petra */
.profile-image img {
   border-radius: 100%;
   top: 359px; 
   left: 176px; 
   width: 162px;
   height: 162px;

/* UI Properties */
   background: transparent url(/assets/petra.jpg) 0% 0% no-repeat padding-box;
   border: 3px solid #FFFFFF;
   opacity: 1;  
   position: absolute;
}
 
 .hero-container {
    width: 80%;
    margin: 0 auto;
    padding: 130px 0;
    /*align-content: center;
    text-align: center;*/
 }
  
 .summary-section p {
    top: 571px;
    left: 37px;
    width: 302px;
    height: 228px;
    /* UI Properties */
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 45px 37px 56px 37px;
    background-color: #f4f4f4;
    margin-top: 0;
 }
 
 .summary-section {
    top: 513px;
    left: -1.0767822265625px;
    width: 377px;
    height: 342px;
    /* UI Properties 
    background: #F4F4F4 0% 0% no-repeat padding-box;
    opacity: 1;*/
 }

 .tech-section div {
   top: 915px;
   left: 135px;
   width: 82px;
   height: 33px;
   /* UI Properties */
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   text-align: center;
   padding-top: 7px;
}

/* RED headline */
.tech-section {
   top: 917px;
   left: 145px;
   width: 62px;
   height: 27px;
/* UI Properties */
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-size:22px; 
   font-weight: bold;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
   margin-left: 150px;
   margin-top: 30px; 
}

/*text - TECH - HTML,CSS */

.tech-languages p {
   text-align: center;
   padding-top: 20px;
   font-family: 'Montserrat', sans-serif;
   padding-bottom: 40px;
}

 /*** OLD SECTIONS ********
 
 .tech-section div {
    top: 915px;
    left: 135px;
    width: 82px;
    height: 33px;
    /* UI Properties *
    background: #FA382F 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    padding-top: 7px;
 }
 
 /* RED headline *
 .tech-section {
    top: 917px;
    left: 145px;
    width: 62px;
    height: 27px;
 /* UI Properties 
    text-align: left;
    font-size:22px; 
    font-weight: bold;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 150px;
    margin-top: 40px; 
    margin-bottom: 40px; 
 }
 
 /* TEXT - TECH - SECTION */
 .tech-container p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 60px;
 }
 
 /****** FEATURED PROJECTS 

.featured-projects {
   top: 1271px;
   left: 59px;
   width: 258px;
   height: 27px;
/* UI Properties 
   text-align: left;
   font-size: 22px;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
}

.featured-projects div {
   top: 1269px;
   left: 53px;
   width: 269px;
   height: 33px;
/* UI Properties 
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   text-align: center;
   padding-top: 7px;
   margin-left: 50px;
   margin-top: 50px;  
}*/

/****** TEST --- FEATURED PROJECTS *******/

.featured-container {
   top: 1212px;
   left: -2.2335205078125px;
   width: 377px;
   height: 1357px;
/* UI Properties */
   background: #F4F4F4 0% 0% no-repeat padding-box;
   -webkit-margin-top-collapse: separate;
}

.feature-heading p {
   top: 1271px;
   left: 59px;
   width: 258px;
   height: 24px;
   /* UI Properties*/
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 22px;
   letter-spacing: 0;
}

.feature-heading p {
   top: 1269px;
   left: 53px;
   width: 269px;
   height: 22px;
   /* UI Properties */
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top: 59px;
   margin-left: 48px;
   margin-right: 58px;
   color: #FFFFFF;
   padding: 7px;
}
.projects img {
   left: 36px;
   width: 303px;
   height: 179px;
   filter: brightness(60%);
   padding-left: 40px;
}

.hero-text {
   top: 1330px;
   left: 185px;
   width: 132px;
   height: 30px;
/* UI Properties */
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700px;
   font-size: 16px;
   letter-spacing: 0;
   color: #FDDFE7;
  
   position: absolute;
   transform: translate(-50%, -50%)
}
/*.hero-text {
   position: absolute;
   font-weight: 700px;
   top: 35px;
   transform: translate(-50%, -50%)
}*/

/*.project-info {
   top: 571px;
   left: 37px;
   width: 303px;
   height: 120px;
   text-align: left;
   align-items: left;
}*/

.weather-app-subheader {
   top: 0px;
   left: 0px;
   width: 117px;
   height: 20px;
   /* UI Properties */
   text-align: left;
   font: Bold 17px/29px Roboto;
   letter-spacing: 0;
   color: #FA382F;
   display: flex;
   flex-direction: row;
   padding-left: 40px;
   
}

.weather-app-info {
   width: 250px;
   text-align: left;
   font-size: 17px;
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 0;
   color: #000000;
   display: flex;
   flex-direction: row;
   padding-left: 40px;
}

/*--- TECH LANG USED IN WEATHER APP---*/
.weather-app-lang {
   text-align: center;
   justify-content: space-evenly;
   text-align: center;
   display: flex;
   flex-direction: row; 

}
.weather-app-languages p {
   height: 17px;
   font-size: 17px; 
   border: 1px solid #FDDFE7;
   font-family: 'Montserrat', sans-serif;
   opacity: 1;
   background: #FDDFE7;
   display: inline-flex;
}

/*------ SKILLS ------*/
.container-skills {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
}


.skills p {
   top: 1271px;
   left: 59px;
   width: 258px;
   height: 24px;
   /* UI Properties*/
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 22px;
   letter-spacing: 0;
}

.skills p {
   top: 1269px;
   left: 53px;
   width: 78px;
   height: 22px;
   /* UI Properties */
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top: 59px;
   margin-left: 148px;
   margin-right: 58px;
   color: #FFFFFF;
   padding: 7px;
}

.skills-content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

li {
   list-style-type: none;
   text-align: center;
   padding:3px;
}
/* header 
/*name 
/*frontend
/* foto
border radius: 100px; 

footer  {
   justify-content: space-between;
   text-align: center;
   
}*/

 /****** OLD FEATURED PROJECTS *******
 
 .feature-container {
   top: 1212px;
   left: -2.2335205078125px;
   width: 377px;
   height: 1357px;
   /* UI Properties 
   background: #F4F4F4 0% 0% no-repeat padding-box;
   opacity: 1;
}

  .feature-heading {
    top: 1271px;
    left: 59px;
    width: 258px;
    height: 27px;
    text-align: left;
    font-size: 22px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    background-color: #f4f4f4;
    padding-top: 45px; 
}

 /*--- red background ---
 .feature-heading div {
    top: 1269px;
    left: 53px;
    width: 269px;
    height: 33px;
 /* UI Properties 
    background: #FA382F 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    padding-top: 7px;
    margin-left: 50px;
 }

.feature-subheading {
   top: 0px;
   left: 0px;
   width: 117px;
   height: 20px;
   /* UI Properties 
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-weight: 700px;
   font-size: 17px;
   letter-spacing: 0;
   color: #FA382F;
   flex-wrap: wrap;
   flex-direction: row;
   display: -webkit-inline-box;
   
}

.weather-app {
   top: 0px;
   left: 0px;
   width: 125px;
   height: 20px;
   /* UI Properties 
   text-align: left;
   font: Bold 17px/29px Roboto;
   letter-spacing: 0;
   color: #FA382F;
   background-color: yellow;
   display: flex;
   flex-direction: row;
   padding-left: 50px;
   display: inline-block;
   padding-bottom: 0px;
}

.weatherAppText { 
   top: 0px;
   left: 121px;
   width: 297px;
   height: 20px;
   /* UI Properties 
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-size: 17px;
   letter-spacing: 0;
   color: #000000;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   background-color: yellow;
}
 

 /*
 .featured-projects-weatherapp {
 .featured-projects-newssite {
 .featured-projects-cluedo {
 .my-thoughts {
 }
 
 
 footer  {
    justify-content: space-between;
    text-align: center;
    
 }*/



