body, 
html {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   background: #ffff;
   overflow-x: hidden;
   text-decoration: none;
} 

h1 {
  font-size: 49px;
}

h2 {
  font: Bold 21px/25px Montserrat;
  color: #fff;
  background-color: #a92665;
  /* background-color: #fa382f; */
  padding: 0 4px;
}

h3 {
  font: Bold 21px/25px Montserrat;
  color: #a92665;
  margin: 0px;
  text-align: center;
}

h4 {
  font: 400 17px/29px Roboto;
  color: #a92665;
  text-align: left;
}

p {
  font-size: 12px;
  line-height: 2;
  color: #000000;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/HeroImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*---- pic petra ----*/

.hero-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.header-label {
  /* margin: 40 0px; */
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-left: 60px;
}

.header-label p {
  color: #fff;
  font: Bold 13px/15px Roboto;
}

.header-label h1 {
  color: #fff;
  font: Bold 40px/49px Montserrat;
}

.header-profile {
  width: 162px;
  height: 162px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.header-icons {
  display: flex;
  text-align: center;
}

.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.grey {
  background: #f4f4f4;
}

.summary-box p,
.tech-box p {
  font: 400 17px/29px Montserrat;
  width: 70%;
  text-align: center;
}

.intend {
  position: relative;
  top: -7px;
  font-weight: 700;
  color: #a92665;
}

.circle {
  width: 7px;
  height: 7px;
  padding: 5px;
  position: relative;
  margin-right: 5px;
  top: 2px;
  background-color: #a92665;
  border-radius: 50%;
 display: inline-block;
}

.hero-text {
  font: 700 17px/19px Montserrat;
  color: #a92665;
  margin-top: 5px;
  /* font-size: smaller; */
 }

.projects,
.other-projects,
.thought {
  width: 80%;
  /* margin: 30px 0; */
  margin-top: 30px;
}

a:link {
  text-decoration: none;
}
.projects img {
  filter: brightness(90%);
  /* width: 100%; */
  width: 350px;
  height: 200px;
  /* max-height: 400px;
  max-width: 400px;
  align-self: center; 
  margin-left: 30px; */
}

.featured-projects.box {
  margin-left: 35px;
  /* margin: 0 auto; */
  padding-bottom: 10px;
}

.projects-info p {
  font-size: 16px;
  /* text-decoration: none; */
  /* text-decoration-color: black; */
}

.language {
  background-color: #fddfe7;
  display: inline;
  margin: 4px;
  margin-left: 0px;
  padding: 4px;
  color: rgb(38, 37, 37)
}

.language p {
  margin: 0;
  text-align: center;
  /* text-decoration: none; */
}

.project-languages {
  margin-bottom: 30px;
}

.other-projects .projects-info {
  width: 100%;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.thought img {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.thought-date {
  font: 400 17px/29px Roboto;
  color:#a92665;
  /* color:#a92665; */
  padding-top: 10px;
  margin: 0;
  /* background-color: yellow; */
}

.thought-headline p {
  font: 700 21px/32px Roboto;
  margin: 0;
}

.thought-teaser p {
  text-align: left;
  font: 400 17px/32px Roboto; 
}

.myThoughts-box.box {
  padding-bottom: 0px;
}

.more-thoughts {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.more-thoughts span {
  font: 500 17px/29px Roboto;
  color: #a92665;
  text-align: center;
  justify-content: center;
}

.more-thoughts p {
  font: 700 17px/29px Roboto;
  text-align: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-flow: wrap;
  width: 80%;
}

.list-header {
  font: 700 17px/29px Roboto;
  color: #a92665;
  padding-top: 10px;
  margin-bottom: 10px;
}

.skills-box ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 30%;
  flex-grow: 1;
  text-align: center;
}

.icons {
  display: flex;
  text-align: center;
  padding: 20px 0;
}

.iconCircle {
  width: 59px;
  height: 59px;
  border: 3px solid #a92665;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 22px;
  height: 22px;
}

footer {
  top: 4875px;
  left: 36px;
  width: 378px;
  height: 270px;
  font-size: 15px;
  margin-right: 35px;
  background-color: #2D132C;
  /* background-color: blue; */
  color: #ffffff;
}
.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact h2 {
  background-color: transparent;
  font-family: 'Montserrat';
}

.contact h3 {
  color: #fff;
  font-size: 16px;
  /* margin-bottom: 12px; */
  font-weight: lighter;
}

.contact p {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 14px;
  margin: 5px;
}

.contact a:link {
  color: white;
}

/***   MEDIA QUERIES   ***/

@media (min-width: 650px) {
  .header-icons,
  .header-profile {
    align-self: flex-end;
  }

  .header-profile {
    margin-bottom: -50px;
  }

  .box {
    padding: 60px 0;
  }

  .summary-box p {
    text-align: left;
  }

  .featured-projects,
  .my-thoughts {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects img {
    width: 80%;
  }

  .projects,
  .thought {
    width: 40%;
    flex-grow: 1;
    margin: 20px;
  }

  .skills ul {
    width: 20%;
  }
}
