body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
 }
 
 header {
    height: 508px;
    width: 375;
    /* The hero image */
    /* Image / from relative path */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/andras-vas.jpg");
    background-repeat: no-repeat;
    /* To make the her picture cover the screen */
    background-size: cover;
    /*background-position: center;*/
    /* The image change size on all screens */
    /*position: relative;*/
    color: aliceblue;   
 }

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0%;
  /*position: relative;*/
  z-index: 1;
  bottom: 400px;
}

.icon {
  margin-top: 10%;
  width: 40px;
  height: 39px;
  border-radius: 100%;
  border: 2px solid white;
  margin-left: 7px;
  margin-bottom: 15px;
}

.iconImg {
  color: white;
  position: relative;
  top: 7px;
  left: 9px;
  width: 20px;
  /*height: 20px;*/
}

 .portfolioName {
    display: flex;
    flex-direction: row;
    margin-bottom: -30px;
 }
 
 .headerText {
    margin-top: 5px;
 }
 p.portfolio {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 0,52px;
    color: #ffffff;
    opacity: 1;
    text-shadow: 2px 2px 2px grey;
    display: flex;
    flex-direction: row;
 }
 
 /*layout properties */
 p.name {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0,52px;
    color: #ffffff;
    opacity: 1;
    width: 100%;
    position: relative;
    left: 19px;
    text-shadow: 2px 2px 2px grey;
 }
 
 /* frontend developer text */
 h1 {
    top: 196px;
    left: 78px;
    width: 71px;
    height: 49px;
    /* UI Properties */
    text-align: left;
    font: Bold 40px/49px Montserrat;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding-bottom: 20px;
 }
 
 /*project manager text */
 h3 {
    top: 296px;
    left: 41px;
    /*width: 219px;*/
    height: 29px;
    /* UI Properties */
    text-align: left;
    font: Bold 24px/29px Montserrat;
    /*font: Bold 24px/29px Montserrat;*/
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    padding-top: 10px;
 }
 
/* pic petra */
.profile-image img {
   border-radius: 100%;
   top: 359px; 
   left: 176px; 
   width: 162px;
   height: 162px;
   background: transparent url(/assets/petra.jpg) 0% 0% no-repeat padding-box;
   border: 3px solid #FFFFFF;
   opacity: 1;  
   position: absolute;
}
 
 .hero-container {
    width: 80%;
    margin: 0 auto;
    /*padding: 60px 0;*/
 }
  
 .summary-section p {
    top: 571px;
    left: 37px;
    width: 302px;
    height: 228px;
    /* UI Properties */
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 45px 37px 30px 37px;
    background-color: #f4f4f4;
    margin-top: 0;
 }
 
 .summary-section {
    top: 513px;
    left: -1.0767822265625px;
    width: 377px;
    height: 342px;
 }

 .tech-section p {
   top: 915px;
   left: 135px;
   width: 82px;
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   text-align: center;
}

/* RED headline */
.tech-section {
   top: 917px;
   left: 145px;
   width: 62px;
   height: 27px;
/* UI Properties */
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-size: 22px; 
   font-weight: bold;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
   margin-left: 150px;
   margin-top: 5px;
}

/* TECH-SECTION-languages HTML,CSS */

.tech-languages p {
   text-align: center;
   padding-top: 20px;
   font-family: 'Montserrat', sans-serif;
   padding-bottom: 40px;
}
 
 /****** FEATURED PROJECTS ****/

.featured-container {
   top: 1212px;
   left: -2.2335205078125px;
   width: 377px;
   height: 1150px;
/* UI Properties */
   background: #F4F4F4 0% 0% no-repeat padding-box;
   -webkit-margin-top-collapse: separate;
}

.feature-heading p {
   top: 1271px;
   left: 59px;
  
   height: 24px;
   /* UI Properties*/
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 22px;
   letter-spacing: 0;
}

.feature-heading p {
   top: 1269px;
   left: 53px;
   width: 269px;
   height: 22px;
   /* UI Properties */
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top: 59px;
   margin-left: 48px;
   margin-right: 58px;
   color: #FFFFFF;
   padding: 7px;
}
.projects img {
   left: 36px;
   width: 303px;
   height: 179px;
   filter: brightness(60%);
   padding-left: 40px;
}

/*--- sunny side up-text ---*/
.hero-text {
   top: 1330px;
   left: 185px;
   width: 132px;
   height: 50px;
/* UI Properties */
   text-align: left;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700px;
   font-size: 16px;
   letter-spacing: 0;
   color: #FDDFE7;
   position: absolute;
   transform: translate(-50%, -50%)
}

p.weather-app-subheader {
   top: 0px;
   left: 0px;
   width: 117px;
   height: 10px;
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-weight: 700px;
   font-size: 17px;
   letter-spacing: 0;
   color: #FA382F;
   display: flex;
   flex-direction: row;
   padding-left: 40px;
}

.weather-app-info {
   top: 0px;
   left: 121px;
   width: 280px;
   height: 20px;
   text-align: left;
   font: Regular 17px/29px Roboto;
   letter-spacing: 0;
   color: #000000;
   display: flex;
   flex-direction: row;
   padding-left: 40px;
}

/*--- TECH LANG USED IN WEATHER APP---*/

.weather-app-lang {
   top: 1883px;
   left: 36px;
   width: 297px;
   height: 96px;
   text-align: left;
   letter-spacing: 0;
   opacity: 1;
   padding-left: 40px;
}

.weather-app-languages p {
   top: 1954px;
   /*height: 10px;*/
   font: Regular 9px/10px Roboto;
   border: 4px solid #FDDFE7;
   opacity: 1;
   background: #FDDFE7;
   display: inline-flex;   
}

/*------ OTHER PROJECTS -----*/
.other-projects-heading p {
   text-align: center;
   font-weight: 700px;
   font-size: 21px; 
   font-family: 'Montserrat', sans-serif;
   letter-spacing: 0;
   color: #FA382F;
   opacity: 1;  
}
.other-projects-heading P {
   top: 2046px;
   left: 84px;
   width: 198px;
   height: 25px;
   text-align: center;
   font: Bold 21px/25px Montserrat;
   letter-spacing: 0;
   color: #FA382F;
   opacity: 1;
   padding-left: 85px;
}

.other-proj-info {
   top: 2375px;
   left: 38px;
   width: 301px;
   height: 103px;
   opacity: 1;
}

/*------ MY THOUGHTS HEADLINE (white bg)-----*/
.my-thoughts-container {
   left: 0px;
   width: 375px;
   height: 80px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   padding-top: 30px;
   text-align: -webkit-center;
   margin-top: 90px; 
   padding-top: 70px;
}

/*--- subheader my thoughts---*/
.my-thoughts-red-header {
color: #FA382F;   
margin-bottom: -15px; 
}

.my-thoughts-heading { 
   font: Bold 22px/27px Montserrat;
   letter-spacing: 0;
   color: #FFFFFF;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   left: 93px;
   width: 188px;
   height: 27px;
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1; 
   text-align: center;
} 

.my-thoughts img {
   width: 80%;
   height: auto;
   justify-content: center;
   padding-left: 40px;
}

.my-thoughts h2 {
   top: 29px;
   left: 0px;
   text-align: left;
   font: Bold 21px/32px Roboto;
   letter-spacing: 0;
   color: #000000;
   padding-left: 40px;
   padding-right: 40px;
}

.my-thoughts p {
   top: 224px;
   left: 0px;
   width: 288px;
   height: 15px;
   text-align: left;
   font: Regular 17px/32px Roboto;
   padding-left: 40px;
}

/*------ MORE THOUGHTS ----*/

.more-thoughts-container p {
   top: 3373px;
   left: 89px;
   width: 197px;
   height: 25px;
   text-align: left;
   font-weight: bold;
   font: Bold 21px/25px Montserrat;
   letter-spacing: 0;
   color: #FA382F;
   opacity: 1;
   margin-top: 192px;
   padding-left: 89px;
   padding-right: 50px;
   padding-bottom: 10px;
}
 .more-thoughts-heading h3 { 
   font: Bold 22px/27px Montserrat;
   letter-spacing: 0;
   color: #FA382F;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   left: 93px;
   width: 188px;
   height: 33px;
   opacity: 1; 
   margin-top: 150px;
   flex-direction: row;
}
.blog-posts {
   top: 2375px;
   left: 38px;
   width: 301px;
   height: 103px;
   opacity: 1;
   color: #FA382F;
} 
.blog-sep {
color: #FA382F;
margin-bottom: -10px;   
}
.blog-oct {
color: #FA382F;
margin-bottom: -10px;   
}
.blog-nov {
color: #FA382F;
margin-bottom: -10px;   
}
.blog-dec {
color: #FA382F;
margin-bottom: -10px;   
}

.blog-text {
   top: 0px;
   left: 82px;
   width: 164px;
   height: 20px;
   text-align: left;
   font: Bold 17px/29px Roboto;
   letter-spacing: 0;
   color: #000000;
}


/*------ SKILLS -------------*/
.skills-section {
   top: 3805px;
   left: 0px;
   width: 375px;
   /*height: 774px;*/
   background: #F4F4F4 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top: 70px;
   padding-top: 10px;
}
/* container-background-grey*/
.container-skills {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 100%;
   top: 3805px;
   left: 0px;
   width: 375px;
   height: 570px;
   background: #F4F4F4 0% 0% no-repeat padding-box;
   opacity: 1;
   align-content: flex-start;
   padding-top: 5px;
}

.code-header {
color: #FA382F;
}

.toolbox-header {
color: #FA382F;
}

.more-header {
color: #FA382F;

}

.upcoming-header {
color: #FA382F;
}

.skills p {
   top: 3868px;
   left: 148px;
   width: 78px;
   height: 27px;
   text-align: center;
   font: Bold 22px/27px Montserrat;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
   padding-top: 20px;
}

.skills p {
   top: 1269px;
   left: 53px;
   width: 78px;
   height: 20px;
   /* UI Properties */
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   margin-top: 59px;
   margin-left: 148px;
   margin-right: 58px;
   color: #FFFFFF;
   padding: 7px;
   padding-top: 2px;
}

.skills-content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

li {
   list-style-type: none;
   text-align: center;
   padding:3px;
}

/*---- FOR MORE ----*/

.for-more-section {
   top: 0px;
   left: 0px;
   width: 375px;
   height: 250px;
   /* UI Properties */
   background: #FFFFFF 0% 0% no-repeat padding-box;
   opacity: 1;
   padding-top: 50px;
}

.for-more-header {
   top: 4649px;
   left: 123px;
   width: 126px;
   height: 27px;
   text-align: center;
   font: Bold 22px/27px Montserrat;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
   padding-left: 125px;
}

.for-more-header p {
   top: 4646px;
   left: 122px;
   width: 131px;
   height: 30px;
   background: #FA382F 0% 0% no-repeat padding-box;
   opacity: 1;
   padding-top: 2px;   
}

/*------- RED ICONS ---------*/
.icon-container-red {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 0%;
  /*position: relative;*/
  z-index: 1;
  bottom: 400px;
}

.icon-red {
  margin-top: 10%;
  width: 40px;
  height: 39px;
  border-radius: 100%;
  border: 2px solid #FA382F;
  margin-left: 7px;
  margin-bottom: 15px;
}

.iconImg-red {
  color: #FA382F;
  position: relative;
  top: 7px;
  left: 9px;
  width: 20px;
  /*height: 20px;*/
}

.icon-text-red {
   color: #FA382F;
   display: inline-flex;
   font-size: 13px;
   font-weight: bold;
}

.icon-red-text-linkedin {
   padding-left: 57px;
}
   
.icon-red-text-github {
   padding-left: 50px;
}
.icon-red-text-stack {
   padding-left: 28px;
}

/*------ CONTACT INFO -----*/
.contact-info-baseline {
   top: 4875px;
   left: -3px;
   width: 378px;
   height: 270px;
   /* UI Properties */
   opacity: 1;
   background-color: blue;
   text-align: center;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
}
p.contact-text {
   top: 4938px;
   left: 135px;
   /*width: 106px;*/
   height: 25px;
   font: Bold 21px/25px Montserrat;
   padding-top: 60px;
}
p.name-text {
   top: 0px;
   left: 92px;
   /*width: 118px;*/
   height: 20px;
   text-align: center;
   font: Bold 17px/29px Roboto;
}

p.number-text {
   top: 29px;
   left: 90px;
   height: 20px;
}

p.email-text {
   top: 29px;
   left: 90px;
   height: 20px;
}


/* ---- DESKTOP ---- */ 
@media (min-width: 1024px) {
  body {
    width: 100%;
    /*flex-direction: row;
    flex-wrap: wrap;*/
  }

  header {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  }

.headerTextContainer {
   margin-left: 120px;
}

.iconContainer {
   margin-right: 95px;
}
  
.profile-image img {
   background-position: center;
   left: 850px; 
   width: 213px;
   height: 213px;
   background: transparent url(/assets/petra.jpg) 0% 0% no-repeat padding-box;
   border: 3px solid #FFFFFF;
   opacity: 1;  
   position: absolute;
   margin-top: -45px;
}
 

.summary-section p { 
  top: 785px;
  left: 616px;
  width: auto;
  height: 192px;
  text-align: left; 
  align-content: center;
}

/*grey - background-section*/
 .summary-section {
    width: 100%; 
    margin: 0px;
 }
 
 
.tech-languages p { 
  flex-direction: row;
  
}
  /*.tech-languages {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  }*/
  }




